Project Milestone4 Saurabh Biswas DSC540-T303

In [37]:
#import required libraries
import pandas as pd
import numpy as np
import requests
import urllib.request, urllib.parse, urllib.error
import json
import ssl
import re

In [38]:
#read State wise data csv into dataframe
df1 = pd.read_csv("Year_State_Data.csv")
df1.head(1)

,Year,State,Flu_Deaths,All_Deaths,Deaths_Age_Group_Under_1,Deaths_Age_Group_1_to_24,Deaths_Age_Group_25_to_44,Deaths_Age_Group_45_to_64,Deaths_Age_Group_Above_65
0,2013,AL,1226.0,16463.0,313.0,329.0,994.0,4047.0,10776.0

In [39]:
#read state full and abbriviated name csv into dataframe
df2 = pd.read_csv("state_abbreviation.csv")
df2.head(1)

  State Name in Full State
0            Alabama    AL

In [40]:
df3 = pd.merge(df1, df2, on=["State"]) # merge df1 and df2 to get the full state name

In [41]:
df3

,Year,State,Flu_Deaths,All_Deaths,Deaths_Age_Group_Under_1,Deaths_Age_Group_1_to_24,Deaths_Age_Group_25_to_44,Deaths_Age_Group_45_to_64,Deaths_Age_Group_Above_65,State Name in Full
0,2013,AL,1226.0,16463.0,313.0,329.0,994.0,4047.0,10776.0,Alabama
1,2014,AL,1302.0,18002.0,333.0,386.0,1153.0,4520.0,11605.0,Alabama
2,2015,AL,1213.0,16953.0,318.0,385.0,1142.0,4091.0,11016.0,Alabama
3,2016,AL,886.0,13049.0,267.0,303.0,884.0,3079.0,8513.0,Alabama
4,2013,AR,220.0,4452.0,106.0,109.0,280.0,1122.0,2835.0,Arkansas
...,...,...,...,...,...,...,...,...,...,...
155,2016,WA,557.0,8149.0,79.0,118.0,374.0,1688.0,5825.0,Washington
156,2013,WI,306.0,4230.0,79.0,94.0,283.0,1146.0,2628.0,Wisconsin
157,2014,WI,271.0,4066.0,76.0,64.0,284.0,1066.0,2576.0,Wisconsin
158,2015,WI,218.0,4264.0,83.0,96.0,359.0,1088.0,2638.0,Wisconsin
159,2016,WI,118.0,3295.0,42.0,83.0,276.0,886.0,2008.0,Wisconsin

In [42]:
url = 'https://datausa.io/api/data?drilldowns=State&measures=Population' # full url
headers = {}
headers['User-Agent'] = "Mozilla/5.0 (X11; Ubuntu; Linux i686; rv:48.0) Gecko/20100101 Firefox/48.0" # dummy header

In [43]:
try:
    req = urllib.request.Request(url, headers = headers)
    uh = urllib.request.urlopen(req) # open the url
    data = uh.read() # READ data from url
    json_data=json.loads(data) # load json data
except urllib.error.URLError as e: # throw error for bad url open
    print(f"ERROR: {e.reason}")

In [44]:
print (json.dumps(json_data, indent=2, sort_keys=True))

{
  "data": [
    {
      "ID State": "04000US39",
      "ID Year": 2018,
      "Population": 11689442,
      "Slug State": "ohio",
      "State": "Ohio",
      "Year": "2018"
    },
    {
      "ID State": "04000US72",
      "ID Year": 2018,
      "Population": 3195153,
      "Slug State": "puerto-rico",
      "State": "Puerto Rico",
      "Year": "2018"
    },
    {
      "ID State": "04000US01",
      "ID Year": 2018,
      "Population": 4887871,
      "Slug State": "alabama",
      "State": "Alabama",
      "Year": "2018"
    },
    {
      "ID State": "04000US55",
      "ID Year": 2018,
      "Population": 5813568,
      "Slug State": "wisconsin",
      "State": "Wisconsin",
      "Year": "2018"
    },
    {
      "ID State": "04000US02",
      "ID Year": 2018,
      "Population": 737438,
      "Slug State": "alaska",
      "State": "Alaska",
      "Year": "2018"
    },
    {
      "ID State": "04000US54",
      "ID Year": 2018,
      "Population": 1805832,
      "Slug State": "west-virginia",
      "State": "West Virginia",
      "Year": "2018"
    },
    {
      "ID State": "04000US53",
      "ID Year": 2018,
      "Population": 7535591,
      "Slug State": "washington",
      "State": "Washington",
      "Year": "2018"
    },
    {
      "ID State": "04000US04",
      "ID Year": 2018,
      "Population": 7171646,
      "Slug State": "arizona",
      "State": "Arizona",
      "Year": "2018"
    },
    {
      "ID State": "04000US51",
      "ID Year": 2018,
      "Population": 8517685,
      "Slug State": "virginia",
      "State": "Virginia",
      "Year": "2018"
    },
    {
      "ID State": "04000US05",
      "ID Year": 2018,
      "Population": 3013825,
      "Slug State": "arkansas",
      "State": "Arkansas",
      "Year": "2018"
    },
    {
      "ID State": "04000US50",
      "ID Year": 2018,
      "Population": 626299,
      "Slug State": "vermont",
      "State": "Vermont",
      "Year": "2018"
    },
    {
      "ID State": "04000US49",
      "ID Year": 2018,
      "Population": 3161105,
      "Slug State": "utah",
      "State": "Utah",
      "Year": "2018"
    },
    {
      "ID State": "04000US06",
      "ID Year": 2018,
      "Population": 39557045,
      "Slug State": "california",
      "State": "California",
      "Year": "2018"
    },
    {
      "ID State": "04000US48",
      "ID Year": 2018,
      "Population": 28701845,
      "Slug State": "texas",
      "State": "Texas",
      "Year": "2018"
    },
    {
      "ID State": "04000US08",
      "ID Year": 2018,
      "Population": 5695564,
      "Slug State": "colorado",
      "State": "Colorado",
      "Year": "2018"
    },
    {
      "ID State": "04000US47",
      "ID Year": 2018,
      "Population": 6770010,
      "Slug State": "tennessee",
      "State": "Tennessee",
      "Year": "2018"
    },
    {
      "ID State": "04000US46",
      "ID Year": 2018,
      "Population": 882235,
      "Slug State": "south-dakota",
      "State": "South Dakota",
      "Year": "2018"
    },
    {
      "ID State": "04000US09",
      "ID Year": 2018,
      "Population": 3572665,
      "Slug State": "connecticut",
      "State": "Connecticut",
      "Year": "2018"
    },
    {
      "ID State": "04000US45",
      "ID Year": 2018,
      "Population": 5084127,
      "Slug State": "south-carolina",
      "State": "South Carolina",
      "Year": "2018"
    },
    {
      "ID State": "04000US10",
      "ID Year": 2018,
      "Population": 967171,
      "Slug State": "delaware",
      "State": "Delaware",
      "Year": "2018"
    },
    {
      "ID State": "04000US44",
      "ID Year": 2018,
      "Population": 1057315,
      "Slug State": "rhode-island",
      "State": "Rhode Island",
      "Year": "2018"
    },
    {
      "ID State": "04000US42",
      "ID Year": 2018,
      "Population": 12807060,
      "Slug State": "pennsylvania",
      "State": "Pennsylvania",
      "Year": "2018"
    },
    {
      "ID State": "04000US11",
      "ID Year": 2018,
      "Population": 702455,
      "Slug State": "district-of-columbia",
      "State": "District of Columbia",
      "Year": "2018"
    },
    {
      "ID State": "04000US41",
      "ID Year": 2018,
      "Population": 4190713,
      "Slug State": "oregon",
      "State": "Oregon",
      "Year": "2018"
    },
    {
      "ID State": "04000US12",
      "ID Year": 2018,
      "Population": 21299325,
      "Slug State": "florida",
      "State": "Florida",
      "Year": "2018"
    },
    {
      "ID State": "04000US40",
      "ID Year": 2018,
      "Population": 3943079,
      "Slug State": "oklahoma",
      "State": "Oklahoma",
      "Year": "2018"
    },
    {
      "ID State": "04000US56",
      "ID Year": 2018,
      "Population": 577737,
      "Slug State": "wyoming",
      "State": "Wyoming",
      "Year": "2018"
    },
    {
      "ID State": "04000US13",
      "ID Year": 2018,
      "Population": 10519475,
      "Slug State": "georgia",
      "State": "Georgia",
      "Year": "2018"
    },
    {
      "ID State": "04000US38",
      "ID Year": 2018,
      "Population": 760077,
      "Slug State": "north-dakota",
      "State": "North Dakota",
      "Year": "2018"
    },
    {
      "ID State": "04000US15",
      "ID Year": 2018,
      "Population": 1420491,
      "Slug State": "hawaii",
      "State": "Hawaii",
      "Year": "2018"
    },
    {
      "ID State": "04000US37",
      "ID Year": 2018,
      "Population": 10383620,
      "Slug State": "north-carolina",
      "State": "North Carolina",
      "Year": "2018"
    },
    {
      "ID State": "04000US36",
      "ID Year": 2018,
      "Population": 19542209,
      "Slug State": "new-york",
      "State": "New York",
      "Year": "2018"
    },
    {
      "ID State": "04000US16",
      "ID Year": 2018,
      "Population": 1754208,
      "Slug State": "idaho",
      "State": "Idaho",
      "Year": "2018"
    },
    {
      "ID State": "04000US35",
      "ID Year": 2018,
      "Population": 2095428,
      "Slug State": "new-mexico",
      "State": "New Mexico",
      "Year": "2018"
    },
    {
      "ID State": "04000US17",
      "ID Year": 2018,
      "Population": 12741080,
      "Slug State": "illinois",
      "State": "Illinois",
      "Year": "2018"
    },
    {
      "ID State": "04000US34",
      "ID Year": 2018,
      "Population": 8908520,
      "Slug State": "new-jersey",
      "State": "New Jersey",
      "Year": "2018"
    },
    {
      "ID State": "04000US33",
      "ID Year": 2018,
      "Population": 1356458,
      "Slug State": "new-hampshire",
      "State": "New Hampshire",
      "Year": "2018"
    },
    {
      "ID State": "04000US18",
      "ID Year": 2018,
      "Population": 6691878,
      "Slug State": "indiana",
      "State": "Indiana",
      "Year": "2018"
    },
    {
      "ID State": "04000US32",
      "ID Year": 2018,
      "Population": 3034392,
      "Slug State": "nevada",
      "State": "Nevada",
      "Year": "2018"
    },
    {
      "ID State": "04000US19",
      "ID Year": 2018,
      "Population": 3156145,
      "Slug State": "iowa",
      "State": "Iowa",
      "Year": "2018"
    },
    {
      "ID State": "04000US31",
      "ID Year": 2018,
      "Population": 1929268,
      "Slug State": "nebraska",
      "State": "Nebraska",
      "Year": "2018"
    },
    {
      "ID State": "04000US30",
      "ID Year": 2018,
      "Population": 1062305,
      "Slug State": "montana",
      "State": "Montana",
      "Year": "2018"
    },
    {
      "ID State": "04000US20",
      "ID Year": 2018,
      "Population": 2911510,
      "Slug State": "kansas",
      "State": "Kansas",
      "Year": "2018"
    },
    {
      "ID State": "04000US29",
      "ID Year": 2018,
      "Population": 6126452,
      "Slug State": "missouri",
      "State": "Missouri",
      "Year": "2018"
    },
    {
      "ID State": "04000US21",
      "ID Year": 2018,
      "Population": 4468402,
      "Slug State": "kentucky",
      "State": "Kentucky",
      "Year": "2018"
    },
    {
      "ID State": "04000US28",
      "ID Year": 2018,
      "Population": 2986530,
      "Slug State": "mississippi",
      "State": "Mississippi",
      "Year": "2018"
    },
    {
      "ID State": "04000US27",
      "ID Year": 2018,
      "Population": 5611179,
      "Slug State": "minnesota",
      "State": "Minnesota",
      "Year": "2018"
    },
    {
      "ID State": "04000US22",
      "ID Year": 2018,
      "Population": 4659978,
      "Slug State": "louisiana",
      "State": "Louisiana",
      "Year": "2018"
    },
    {
      "ID State": "04000US26",
      "ID Year": 2018,
      "Population": 9995915,
      "Slug State": "michigan",
      "State": "Michigan",
      "Year": "2018"
    },
    {
      "ID State": "04000US23",
      "ID Year": 2018,
      "Population": 1338404,
      "Slug State": "maine",
      "State": "Maine",
      "Year": "2018"
    },
    {
      "ID State": "04000US25",
      "ID Year": 2018,
      "Population": 6902149,
      "Slug State": "massachusetts",
      "State": "Massachusetts",
      "Year": "2018"
    },
    {
      "ID State": "04000US24",
      "ID Year": 2018,
      "Population": 6042718,
      "Slug State": "maryland",
      "State": "Maryland",
      "Year": "2018"
    },
    {
      "ID State": "04000US04",
      "ID Year": 2017,
      "Population": 7016270,
      "Slug State": "arizona",
      "State": "Arizona",
      "Year": "2017"
    },
    {
      "ID State": "04000US13",
      "ID Year": 2017,
      "Population": 10429379,
      "Slug State": "georgia",
      "State": "Georgia",
      "Year": "2017"
    },
    {
      "ID State": "04000US48",
      "ID Year": 2017,
      "Population": 28304596,
      "Slug State": "texas",
      "State": "Texas",
      "Year": "2017"
    },
    {
      "ID State": "04000US39",
      "ID Year": 2017,
      "Population": 11658609,
      "Slug State": "ohio",
      "State": "Ohio",
      "Year": "2017"
    },
    {
      "ID State": "04000US08",
      "ID Year": 2017,
      "Population": 5607154,
      "Slug State": "colorado",
      "State": "Colorado",
      "Year": "2017"
    },
    {
      "ID State": "04000US38",
      "ID Year": 2017,
      "Population": 755393,
      "Slug State": "north-dakota",
      "State": "North Dakota",
      "Year": "2017"
    },
    {
      "ID State": "04000US15",
      "ID Year": 2017,
      "Population": 1427538,
      "Slug State": "hawaii",
      "State": "Hawaii",
      "Year": "2017"
    },
    {
      "ID State": "04000US55",
      "ID Year": 2017,
      "Population": 5795483,
      "Slug State": "wisconsin",
      "State": "Wisconsin",
      "Year": "2017"
    },
    {
      "ID State": "04000US53",
      "ID Year": 2017,
      "Population": 7405743,
      "Slug State": "washington",
      "State": "Washington",
      "Year": "2017"
    },
    {
      "ID State": "04000US37",
      "ID Year": 2017,
      "Population": 10273419,
      "Slug State": "north-carolina",
      "State": "North Carolina",
      "Year": "2017"
    },
    {
      "ID State": "04000US47",
      "ID Year": 2017,
      "Population": 6715984,
      "Slug State": "tennessee",
      "State": "Tennessee",
      "Year": "2017"
    },
    {
      "ID State": "04000US16",
      "ID Year": 2017,
      "Population": 1716943,
      "Slug State": "idaho",
      "State": "Idaho",
      "Year": "2017"
    },
    {
      "ID State": "04000US02",
      "ID Year": 2017,
      "Population": 739795,
      "Slug State": "alaska",
      "State": "Alaska",
      "Year": "2017"
    },
    {
      "ID State": "04000US36",
      "ID Year": 2017,
      "Population": 19849399,
      "Slug State": "new-york",
      "State": "New York",
      "Year": "2017"
    },
    {
      "ID State": "04000US09",
      "ID Year": 2017,
      "Population": 3588184,
      "Slug State": "connecticut",
      "State": "Connecticut",
      "Year": "2017"
    },
    {
      "ID State": "04000US35",
      "ID Year": 2017,
      "Population": 2088070,
      "Slug State": "new-mexico",
      "State": "New Mexico",
      "Year": "2017"
    },
    {
      "ID State": "04000US17",
      "ID Year": 2017,
      "Population": 12802023,
      "Slug State": "illinois",
      "State": "Illinois",
      "Year": "2017"
    },
    {
      "ID State": "04000US51",
      "ID Year": 2017,
      "Population": 8470020,
      "Slug State": "virginia",
      "State": "Virginia",
      "Year": "2017"
    },
    {
      "ID State": "04000US46",
      "ID Year": 2017,
      "Population": 869666,
      "Slug State": "south-dakota",
      "State": "South Dakota",
      "Year": "2017"
    },
    {
      "ID State": "04000US34",
      "ID Year": 2017,
      "Population": 9005644,
      "Slug State": "new-jersey",
      "State": "New Jersey",
      "Year": "2017"
    },
    {
      "ID State": "04000US05",
      "ID Year": 2017,
      "Population": 3004279,
      "Slug State": "arkansas",
      "State": "Arkansas",
      "Year": "2017"
    },
    {
      "ID State": "04000US18",
      "ID Year": 2017,
      "Population": 6666818,
      "Slug State": "indiana",
      "State": "Indiana",
      "Year": "2017"
    },
    {
      "ID State": "04000US45",
      "ID Year": 2017,
      "Population": 5024369,
      "Slug State": "south-carolina",
      "State": "South Carolina",
      "Year": "2017"
    },
    {
      "ID State": "04000US33",
      "ID Year": 2017,
      "Population": 1342795,
      "Slug State": "new-hampshire",
      "State": "New Hampshire",
      "Year": "2017"
    },
    {
      "ID State": "04000US10",
      "ID Year": 2017,
      "Population": 961939,
      "Slug State": "delaware",
      "State": "Delaware",
      "Year": "2017"
    },
    {
      "ID State": "04000US32",
      "ID Year": 2017,
      "Population": 2998039,
      "Slug State": "nevada",
      "State": "Nevada",
      "Year": "2017"
    },
    {
      "ID State": "04000US19",
      "ID Year": 2017,
      "Population": 3145711,
      "Slug State": "iowa",
      "State": "Iowa",
      "Year": "2017"
    },
    {
      "ID State": "04000US72",
      "ID Year": 2017,
      "Population": 3337177,
      "Slug State": "puerto-rico",
      "State": "Puerto Rico",
      "Year": "2017"
    },
    {
      "ID State": "04000US56",
      "ID Year": 2017,
      "Population": 579315,
      "Slug State": "wyoming",
      "State": "Wyoming",
      "Year": "2017"
    },
    {
      "ID State": "04000US31",
      "ID Year": 2017,
      "Population": 1920076,
      "Slug State": "nebraska",
      "State": "Nebraska",
      "Year": "2017"
    },
    {
      "ID State": "04000US44",
      "ID Year": 2017,
      "Population": 1059639,
      "Slug State": "rhode-island",
      "State": "Rhode Island",
      "Year": "2017"
    },
    {
      "ID State": "04000US20",
      "ID Year": 2017,
      "Population": 2913123,
      "Slug State": "kansas",
      "State": "Kansas",
      "Year": "2017"
    },
    {
      "ID State": "04000US50",
      "ID Year": 2017,
      "Population": 623657,
      "Slug State": "vermont",
      "State": "Vermont",
      "Year": "2017"
    },
    {
      "ID State": "04000US30",
      "ID Year": 2017,
      "Population": 1050493,
      "Slug State": "montana",
      "State": "Montana",
      "Year": "2017"
    },
    {
      "ID State": "04000US11",
      "ID Year": 2017,
      "Population": 693972,
      "Slug State": "district-of-columbia",
      "State": "District of Columbia",
      "Year": "2017"
    },
    {
      "ID State": "04000US29",
      "ID Year": 2017,
      "Population": 6113532,
      "Slug State": "missouri",
      "State": "Missouri",
      "Year": "2017"
    },
    {
      "ID State": "04000US21",
      "ID Year": 2017,
      "Population": 4454189,
      "Slug State": "kentucky",
      "State": "Kentucky",
      "Year": "2017"
    },
    {
      "ID State": "04000US54",
      "ID Year": 2017,
      "Population": 1815857,
      "Slug State": "west-virginia",
      "State": "West Virginia",
      "Year": "2017"
    },
    {
      "ID State": "04000US42",
      "ID Year": 2017,
      "Population": 12805537,
      "Slug State": "pennsylvania",
      "State": "Pennsylvania",
      "Year": "2017"
    },
    {
      "ID State": "04000US28",
      "ID Year": 2017,
      "Population": 2984100,
      "Slug State": "mississippi",
      "State": "Mississippi",
      "Year": "2017"
    },
    {
      "ID State": "04000US06",
      "ID Year": 2017,
      "Population": 39536653,
      "Slug State": "california",
      "State": "California",
      "Year": "2017"
    },
    {
      "ID State": "04000US22",
      "ID Year": 2017,
      "Population": 4684333,
      "Slug State": "louisiana",
      "State": "Louisiana",
      "Year": "2017"
    },
    {
      "ID State": "04000US41",
      "ID Year": 2017,
      "Population": 4142776,
      "Slug State": "oregon",
      "State": "Oregon",
      "Year": "2017"
    },
    {
      "ID State": "04000US27",
      "ID Year": 2017,
      "Population": 5576606,
      "Slug State": "minnesota",
      "State": "Minnesota",
      "Year": "2017"
    },
    {
      "ID State": "04000US12",
      "ID Year": 2017,
      "Population": 20984400,
      "Slug State": "florida",
      "State": "Florida",
      "Year": "2017"
    },
    {
      "ID State": "04000US26",
      "ID Year": 2017,
      "Population": 9962311,
      "Slug State": "michigan",
      "State": "Michigan",
      "Year": "2017"
    },
    {
      "ID State": "04000US23",
      "ID Year": 2017,
      "Population": 1335907,
      "Slug State": "maine",
      "State": "Maine",
      "Year": "2017"
    },
    {
      "ID State": "04000US01",
      "ID Year": 2017,
      "Population": 4874747,
      "Slug State": "alabama",
      "State": "Alabama",
      "Year": "2017"
    },
    {
      "ID State": "04000US49",
      "ID Year": 2017,
      "Population": 3101833,
      "Slug State": "utah",
      "State": "Utah",
      "Year": "2017"
    },
    {
      "ID State": "04000US25",
      "ID Year": 2017,
      "Population": 6859819,
      "Slug State": "massachusetts",
      "State": "Massachusetts",
      "Year": "2017"
    },
    {
      "ID State": "04000US40",
      "ID Year": 2017,
      "Population": 3930864,
      "Slug State": "oklahoma",
      "State": "Oklahoma",
      "Year": "2017"
    },
    {
      "ID State": "04000US24",
      "ID Year": 2017,
      "Population": 6052177,
      "Slug State": "maryland",
      "State": "Maryland",
      "Year": "2017"
    },
    {
      "ID State": "04000US35",
      "ID Year": 2016,
      "Population": 2081015,
      "Slug State": "new-mexico",
      "State": "New Mexico",
      "Year": "2016"
    },
    {
      "ID State": "04000US24",
      "ID Year": 2016,
      "Population": 6016447,
      "Slug State": "maryland",
      "State": "Maryland",
      "Year": "2016"
    },
    {
      "ID State": "04000US72",
      "ID Year": 2016,
      "Population": 3411307,
      "Slug State": "puerto-rico",
      "State": "Puerto Rico",
      "Year": "2016"
    },
    {
      "ID State": "04000US26",
      "ID Year": 2016,
      "Population": 9928300,
      "Slug State": "michigan",
      "State": "Michigan",
      "Year": "2016"
    },
    {
      "ID State": "04000US23",
      "ID Year": 2016,
      "Population": 1331479,
      "Slug State": "maine",
      "State": "Maine",
      "Year": "2016"
    },
    {
      "ID State": "04000US01",
      "ID Year": 2016,
      "Population": 4863300,
      "Slug State": "alabama",
      "State": "Alabama",
      "Year": "2016"
    },
    {
      "ID State": "04000US27",
      "ID Year": 2016,
      "Population": 5519952,
      "Slug State": "minnesota",
      "State": "Minnesota",
      "Year": "2016"
    },
    {
      "ID State": "04000US56",
      "ID Year": 2016,
      "Population": 585501,
      "Slug State": "wyoming",
      "State": "Wyoming",
      "Year": "2016"
    },
    {
      "ID State": "04000US22",
      "ID Year": 2016,
      "Population": 4681666,

In [45]:
State = [] # create an empty list of State
Year = [] # create an empty list of Year
Population = [] # create an empty list of population

In [46]:
data =json_data["data"] # get only data portion

In [47]:
for dict_data in data: # access all the elements of this list
    
  for x, y in dict_data.items(): # loop through each key/value pair in each dictionary
    # if key is State, append value into State list
    if x == 'State':
        State.append(y)
    # if key is Year, append value into Year list    
    if x == 'Year':
        Year.append(y)
    # if key is Population, append value into Population list
    if x == 'Population':
        Population.append(y)

In [48]:
# get the list of tuples from State, Year, Population lists.  
# and merge them by using zip().  
list_of_tuples = list(zip(State, Year, Population))

In [49]:
# Converting lists of tuples into  
# pandas Dataframe.  
df4 = pd.DataFrame(list_of_tuples, columns = ['State', 'Year', 'Population']) 
df4

           State  Year  Population
0           Ohio  2018    11689442
1    Puerto Rico  2018     3195153
2        Alabama  2018     4887871
3      Wisconsin  2018     5813568
4         Alaska  2018      737438
..           ...   ...         ...
307     Missouri  2013     6044171
308   New Jersey  2013     8899339
309        Texas  2013    26448193
310     Oklahoma  2013     3850568
311      Montana  2013     1015165

[312 rows x 3 columns]

In [50]:
# find null value on any rows or columns
df4.isnull().sum()

State         0
Year          0
Population    0
dtype: int64

Based on the above result there is no null value

In [51]:
# find duplicate values in any rows
df4.duplicated().sum()

0

In [52]:
df4['Population in Million'] = df4['Population']/1000000 # add a new column with population in million
df4

           State  Year  Population  Population in Million
0           Ohio  2018    11689442              11.689442
1    Puerto Rico  2018     3195153               3.195153
2        Alabama  2018     4887871               4.887871
3      Wisconsin  2018     5813568               5.813568
4         Alaska  2018      737438               0.737438
..           ...   ...         ...                    ...
307     Missouri  2013     6044171               6.044171
308   New Jersey  2013     8899339               8.899339
309        Texas  2013    26448193              26.448193
310     Oklahoma  2013     3850568               3.850568
311      Montana  2013     1015165               1.015165

[312 rows x 4 columns]

Based on the above result there is no Duplicate value

In [53]:
df4.drop(['Population'], axis=1, inplace=True) # drop Population column

In [68]:
df4.rename(columns = {'State':'State Name in Full'}, inplace = True) # rename a column
df4.head(5)

  State Name in Full  Year  Population in Million
0               Ohio  2018              11.689442
1        Puerto Rico  2018               3.195153
2            Alabama  2018               4.887871
3          Wisconsin  2018               5.813568
4             Alaska  2018               0.737438

In [73]:
df4.Year = df4.Year.astype('int64') # change data type
df4.Year

0      2018
1      2018
2      2018
3      2018
4      2018
       ...
307    2013
308    2013
309    2013
310    2013
311    2013
Name: Year, Length: 312, dtype: int64

In [74]:
df5 = pd.merge(df3, df4, on=["State Name in Full", "Year"]) # merge df3 and df4 to get the population
#df5=pd.concat([df3,df4],axis=0,join='outer',join_axes=["State Name in Full", "Year"],
#ignore_index=False)

In [75]:
df5

,Year,State,Flu_Deaths,All_Deaths,Deaths_Age_Group_Under_1,Deaths_Age_Group_1_to_24,Deaths_Age_Group_25_to_44,Deaths_Age_Group_45_to_64,Deaths_Age_Group_Above_65,State Name in Full,Population in Million
0,2013,AL,1226.0,16463.0,313.0,329.0,994.0,4047.0,10776.0,Alabama,4.833722
1,2014,AL,1302.0,18002.0,333.0,386.0,1153.0,4520.0,11605.0,Alabama,4.849377
2,2015,AL,1213.0,16953.0,318.0,385.0,1142.0,4091.0,11016.0,Alabama,4.858979
3,2016,AL,886.0,13049.0,267.0,303.0,884.0,3079.0,8513.0,Alabama,4.863300
4,2013,AR,220.0,4452.0,106.0,109.0,280.0,1122.0,2835.0,Arkansas,2.959373
...,...,...,...,...,...,...,...,...,...,...,...
155,2016,WA,557.0,8149.0,79.0,118.0,374.0,1688.0,5825.0,Washington,7.288000
156,2013,WI,306.0,4230.0,79.0,94.0,283.0,1146.0,2628.0,Wisconsin,5.742713
157,2014,WI,271.0,4066.0,76.0,64.0,284.0,1066.0,2576.0,Wisconsin,5.757564
158,2015,WI,218.0,4264.0,83.0,96.0,359.0,1088.0,2638.0,Wisconsin,5.771337
159,2016,WI,118.0,3295.0,42.0,83.0,276.0,886.0,2008.0,Wisconsin,5.778709

In [76]:
df5.to_csv('State_Details.csv', encoding='utf-8', index=False)

In [77]:
# get population for nation
url = 'https://datausa.io/api/data?drilldowns=Nation&measures=Population' # full url
headers = {}
headers['User-Agent'] = "Mozilla/5.0 (X11; Ubuntu; Linux i686; rv:48.0) Gecko/20100101 Firefox/48.0" # dummy header

In [78]:
try:
    req = urllib.request.Request(url, headers = headers)
    uh = urllib.request.urlopen(req) # open the url
    data = uh.read() # READ data from url
    json_data=json.loads(data) # load json data
except urllib.error.URLError as e: # throw error for bad url open
    print(f"ERROR: {e.reason}")

In [79]:
print (json.dumps(json_data, indent=2, sort_keys=True))

{
  "data": [
    {
      "ID Nation": "01000US",
      "ID Year": 2018,
      "Nation": "United States",
      "Population": 327167439,
      "Slug Nation": "united-states",
      "Year": "2018"
    },
    {
      "ID Nation": "01000US",
      "ID Year": 2017,
      "Nation": "United States",
      "Population": 325719178,
      "Slug Nation": "united-states",
      "Year": "2017"
    },
    {
      "ID Nation": "01000US",
      "ID Year": 2016,
      "Nation": "United States",
      "Population": 323127515,
      "Slug Nation": "united-states",
      "Year": "2016"
    },
    {
      "ID Nation": "01000US",
      "ID Year": 2015,
      "Nation": "United States",
      "Population": 321418821,
      "Slug Nation": "united-states",
      "Year": "2015"
    },
    {
      "ID Nation": "01000US",
      "ID Year": 2014,
      "Nation": "United States",
      "Population": 318857056,
      "Slug Nation": "united-states",
      "Year": "2014"
    },
    {
      "ID Nation": "01000US",
      "ID Year": 2013,
      "Nation": "United States",
      "Population": 316128839,
      "Slug Nation": "united-states",
      "Year": "2013"
    }
  ],
  "source": [
    {
      "annotations": {
        "dataset_link": "http://www.census.gov/programs-surveys/acs/",
        "dataset_name": "ACS 1-year Estimate",
        "source_description": "The American Community Survey (ACS) is conducted by the US Census and sent to a portion of the population every year.",
        "source_name": "Census Bureau",
        "subtopic": "Demographics",
        "table_id": "B01003",
        "topic": "Diversity"
      },
      "measures": [
        "Population"
      ],
      "name": "acs_yg_total_population_1",
      "substitutions": []
    }
  ]
}

In [80]:
Year = [] # create an empty list of Year
Population = [] # create an empty list of population

In [81]:
data =json_data["data"] # get only data portion

In [82]:
for dict_data in data: # access all the elements of this list
    
  for x, y in dict_data.items(): # loop through each key/value pair in each dictionary
    # if key is Year, append value into Year list    
    if x == 'Year':
        Year.append(y)
    # if key is Population, append value into Population list
    if x == 'Population':
        Population.append(y)

In [83]:
# get the list of tuples from State, Year, Population lists.  
# and merge them by using zip().  
list_of_tuples = list(zip(Year, Population))

In [84]:
# Converting lists of tuples into  
# pandas Dataframe.  
df6 = pd.DataFrame(list_of_tuples, columns = ['Year', 'Population']) 
df6

   Year  Population
0  2018   327167439
1  2017   325719178
2  2016   323127515
3  2015   321418821
4  2014   318857056
5  2013   316128839

In [85]:
# find null value on any rows or columns
df6.isnull().sum()

Year          0
Population    0
dtype: int64

Based on the above result there is no null value

In [86]:
# find duplicate values in any rows
df6.duplicated().sum()

0

In [87]:
df6['Population in 10 Million'] = df6['Population']/10000000 # add a new column with population in million

In [88]:
df6.drop(['Population'], axis=1, inplace=True) # drop Population row

In [89]:
df6

   Year  Population in 10 Million
0  2018                 32.716744
1  2017                 32.571918
2  2016                 32.312751
3  2015                 32.141882
4  2014                 31.885706
5  2013                 31.612884

In [90]:
df6.to_csv('Year_Population.csv', encoding='utf-8', index=False)